{% extends "@ezdesign/ui/layout.html.twig" %}

{% trans_default_domain 'views' %}

{% block title %}{{ 'hubspot.view.social.title'|trans|desc('eZ Platform Hubspot Social') }}{% endblock %}

{% block content %}
    <div class="row align-items-stretch ez-main-row">
        {% block left_sidebar %}
            <div class="bg-dark pt-4 px-0 ez-side-menu">
                <div class="ez-sticky-container">
                    {% set sidebar_left = knp_menu_get('hubspot.menu.social.sidebar_left', [], {}) %}
                    {{ knp_menu_render(sidebar_left, {
                        'template': '@ezdesign/ui/menu/sidebar_left.html.twig'
                    }) }}
                </div>
            </div>
        {% endblock left_sidebar %}

        <div class="px-0 ez-content-container">
            <div class="ez-header">
                <div class="container">

                    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
                        { value: 'hubspot.view.Hubspot'|trans|desc('Hubspot') },
                        { value: 'hubspot.view.social.name'|trans|desc('Social')},
                    ]} %}

                    {% include '@ezdesign/ui/page_title.html.twig' with {
                        title: 'hubspot.view.social.name'|trans|desc('Social'),
                        iconName: 'user_group'
                    } %}

                </div>
            </div>
            <div class="container-fluid ez-main-container container mt-4 px-5">

                {% if access_denied is defined %}
                    {{ 'hubspot.view.access_denied'|trans|desc('You are not allowed to access this view. Please contact the website adminisrator') }}
                {% else %}

                    <div class="display-results">

                      menu

                    </div>


                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


